<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Employee </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> First Name</label>
                        <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName"
                            name="firstName" placeholder="Enter first name">
                    </div>

                    <div class="form-group">
                        <label> Last Name</label>
                        <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName"
                            name="lastName" placeholder="Enter last name">
                    </div>

                    <div class="form-group">
                        <label> Email </label>
                        <input type="text" class="form-control" id="emailId" [(ngModel)]="employee.email"
                            name="emailId" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label> Department </label>
                        <input type="text" class="form-control" id="emailId" [(ngModel)]="employee.department"
                            name="emailId" placeholder="Enter department">
                    </div>

                    <div class="form-group">
                        <label> Contact </label>
                        <input type="text" class="form-control" id="emailId" [(ngModel)]="employee.contact"
                            name="emailId" placeholder="Enter contact number">
                    </div>
                    <br />
                    <button class="btn btn-success" style ="color: gray;" type="submit" routerLink="">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
